/* Reset */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: "Trebuchet MS", Arial, sans-serif;
}
.body-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1, h2, h4 {
    color: #CE5028;
    font-weight: 900;
}

h1 {
    font-size: 60px;
    text-transform: uppercase;
    padding: 60px 20px 20px;
    border-bottom: 10px solid #666;
    color: #fff;
    background-color: #CE5028;
}

h2 {
    font-size: 50px;
    padding: 20px;
    border-bottom: 5px solid #CE5028;
}
.featured {
    font-size: 35px;
}

h3 {
    font-size: 30px;
    font-style: italic;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 20px;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #CE5028;
}

/* Home Page */
.home-list {
    font-size: 24px;
    display: flex;
    list-style: none;
    padding-top: 40px;
}
.home-list li {
    font-weight: 900;
}
.home-list li a {
    padding: 20px;
}
.home-list li a:hover {
    background-color: rgba(206, 80, 40, 0.1);
}